@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

body {
	margin: 0;
	@apply font-sans;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
	position: relative;
	height: 100dvh;
	width: 100dvw;
}

.btn {
	@apply flex items-center justify-center backdrop-blur border-none  rounded-xl  text-black cursor-pointer transition-colors;
}

.uiBtn {
	@apply flex-1 flex flex-col items-center w-16 h-16  justify-center rounded-lg data-[active=true]:bg-white;
}

.line {
	@apply min-h-[1em] w-px self-stretch bg-gradient-to-tr from-transparent via-neutral-500 to-transparent opacity-20 dark:opacity-100;
}

.iconBtn {
	@apply w-12 h-12 btn;
}

.red {
	@apply bg-red-300/50 hover:bg-red-300;
}

.green {
	@apply bg-lime-300/50 hover:bg-lime-300;
}

/* 
.btn {
	@apply flex items-center justify-center backdrop-blur border-none p-4 rounded-xl bg-green-300/50 text-black drop-shadow-md cursor-pointer hover:bg-green-300 transition-colors;
} */

.rainbowBorder {
	@apply rounded-xl p-[6px] backdrop-blur rainbowGradientCone;
}

.rainbowGradientCone {
	background: conic-gradient(
		rgba(250, 171, 153, 0.8) 0%,
		rgba(252, 188, 93, 0.8) 16%,
		rgba(255, 220, 94, 0.8) 32%,
		rgba(197, 236, 172, 0.8) 48%,
		rgba(174, 247, 255, 0.8) 64%,
		rgba(212, 187, 252, 0.8) 80%,
		rgba(250, 171, 153, 0.8) 100%
	);
}

.rainbowGradient {
	background: linear-gradient(
		rgba(250, 171, 153, 0.5) 0%,
		rgba(252, 188, 93, 0.5) 16%,
		rgba(255, 220, 94, 0.5) 32%,
		rgba(197, 236, 172, 0.5) 48%,
		rgba(174, 247, 255, 0.5) 64%,
		rgba(212, 187, 252, 0.5) 80%,
		rgba(250, 171, 153, 0.5) 100%
	);
}

.rainbowInner {
	@apply rounded-lg h-full w-full bg-white/80;
}

/* created with https://www.gradient-animator.com/ */
.rainbowAnimated {
	background: linear-gradient(
		270deg,
		rgba(250, 171, 153, 1),
		rgba(252, 188, 93, 1),
		rgba(255, 220, 94, 1),
		rgba(197, 236, 172, 1),
		rgba(174, 247, 255, 1),
		rgba(212, 187, 252, 1),
		rgba(250, 171, 153, 1)
	);
	background-size: 1200% 1200%;

	-webkit-animation: rainbowAnimation 30s ease infinite;
	-moz-animation: rainbowAnimation 30s ease infinite;
	animation: rainbowAnimation 30s ease infinite;
}

@-webkit-keyframes rainbowAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@-moz-keyframes rainbowAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes rainbowAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* .rainbowAnimate{

} */

.scrollbar::-webkit-scrollbar {
	@apply rounded-l-xl;
}

.scrollbar::-webkit-scrollbar-track {
	@apply bg-transparent shadow-md rounded-r-2xl;
}

.scrollbar::-webkit-scrollbar-thumb {
	@apply bg-white/50 rounded-2xl;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
	@apply bg-white/80;
}
